/*Generales*/
body{
	background: #eee;
}
/*Registro*/
.register{
	padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left:  100px;
}
.regisTxt{
	
}
/* login */
.login{
	padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left:  100px;
}
.box-form{
	background: white;
	border: 1px solid #ccc;
	padding: 20px;
	padding-top: 30px;
	margin: 0px auto;
	margin-top: 20px;
}
.box-form input{
	margin-bottom: 10px;
}
.fromulario{
	float: right;
}

/* imagen */
.navbar-collapse .avatar{
	background: white;
	border-radius: 500px;
	width: 30px;
	height: 30px;
	overflow: hidden;
	float: left;
	margin-right: 12px;
	margin-top: -7px; 
}

.navbar-collapse .avatar img {
	height: 100%;
	text-alingn:center;
}