/*Generales*/
body{
	background: #eee;
}
/*Regsitro*/
.register{
	padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-left:  100px;
}
.regisTxt{
	
}
.box-form{
	background: white;
	border: 1px solid #ccc;
	padding: 20px;
	padding-top: 0px;
	margin: 0px auto;
	float: right;

}
.box-form input{
	margin-bottom: 10px;
}